@font-face {
  font-family: 'San Francisco Regular';
  src: url(../assets/fonts/SanFranciscoRegular.ttf);
}

@font-face {
  font-family: 'Epilogue Bold';
  src: url(../assets/fonts/Epilogue-Bold.ttf);
}

body {
  font-family: 'San Francisco Regular';
}

.bg-header {
  height: 100vh;
  background-image: url("../img/background.jpg");
  /* background-position: center;
  background-attachment: fixed; */
  background-size: cover;
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

.bg-tint {
  background-color: rgba(36, 36, 36, 0.5);
  background-blend-mode: multiply;
}

.navbar-brand, .navbar-brand:hover {
  color: rgb(255, 255, 255);
  font-size: 36px;
}

.brand-spacing {
  margin-right: 8px;
}

.headline {
  align-items: center;
  display: flex;
}

.line-headline {
  font-family: "Epilogue Bold";
  line-height: 1em;
}

@media only screen and (max-width: 575px) {
  .line-headline {
    font-size: 3.6rem;
  }

  .container {
    max-width: 560px;
  }
}

@media only screen and (min-width: 576px) {
  .line-headline {
    font-size: 4.25rem;
  }

  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .line-headline {
    font-size: 7rem;
  }

  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .line-headline {
    font-size: 6rem;
  }

  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .line-headline {
    font-size: 6rem;
  }

  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .line-headline {
    font-size: 9rem;
  }

  .container {
    max-width: 1400px;
  }
}