@font-face {
  font-family: "Epilogue Regular";
  src: url(../assets/fonts/EpilogueRegular.ttf);
}

@font-face {
  font-family: "Epilogue Bold";
  src: url(../assets/fonts/EpilogueBold.ttf);
}

@font-face {
  font-family: "San Francisco Regular";
  src: url(../assets/fonts/SanFranciscoRegular.ttf);
}

body {
  font-family: "San Francisco Regular";
  font-size: 20px;
  background-color: rgb(220, 220, 220);
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family: "Epilogue Bold";
}

.nav-header {
  font-family: "Epilogue Regular";
  font-size: 24px;
}